 .u-section-1 {
  background-image: url("images/Background2.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 2408px;
}

.u-section-1 .u-image-1 {
  width: 252px;
  height: 252px;
  filter: brightness(0.9);
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 61px auto 0 851px;
}

.u-section-1 .u-text-1 {
  font-family: Flamenco;
  font-weight: 700;
  text-shadow: 0px 2px 8px rgba(0,0,0,1);
  font-size: 3rem;
  margin: -252px auto 0 37px;
}

.u-section-1 .u-text-2 {
  font-family: Flamenco;
  font-weight: 700;
  text-shadow: 0px 2px 8px rgba(0,0,0,1);
  font-size: 3rem;
  margin: 16px auto 0 37px;
}

.u-section-1 .u-text-3 {
  font-family: Flamenco;
  font-weight: 700;
  text-shadow: 0px 2px 8px rgba(0,0,0,1);
  font-size: 2.25rem;
  margin: 20px auto 0 37px;
}

.u-section-1 .u-image-2 {
  width: 558px;
  height: 377px;
  box-shadow: -9px -5px 35px 5px rgba(255,255,255,0.15);
  text-shadow: -9px -5px 35px rgba(0,0,0,0.15);
  margin: 114px auto 0 52px;
}

.u-section-1 .u-image-3 {
  width: 444px;
  height: 502px;
  box-shadow: -9px -5px 35px 5px rgba(255,255,255,0.15);
  text-shadow: -9px -5px 35px rgba(0,0,0,0.15);
  margin: -377px auto 0 644px;
}

.u-section-1 .u-image-4 {
  width: 405px;
  height: 755px;
  box-shadow: -9px -5px 35px 5px rgba(255,255,255,0.15);
  text-shadow: -9px -5px 35px rgba(0,0,0,0.15);
  margin: -73px auto 0 88px;
}

.u-section-1 .u-image-5 {
  width: 535px;
  height: 509px;
  box-shadow: -2px 0 23px 3px rgba(0,0,0,0.15);
  margin: -613px auto 0 553px;
}

.u-section-1 .u-image-6 {
  width: 508px;
  height: 589px;
  box-shadow: -9px -5px 35px 5px rgba(255,255,255,0.15);
  text-shadow: -9px -5px 35px rgba(0,0,0,0.15);
  margin: 141px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1986px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 670px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 19px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 19px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 19px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 496px;
  }

  .u-section-1 .u-image-4 {
    margin-top: -114px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 405px;
  }

  .u-section-1 .u-image-6 {
    height: 590px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1596px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 450px;
  }

  .u-section-1 .u-image-3 {
    margin-left: 276px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 185px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1562px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 270px;
  }

  .u-section-1 .u-image-2 {
    width: 540px;
    height: 364px;
    margin-left: 0;
  }

  .u-section-1 .u-image-3 {
    margin-top: -364px;
    margin-left: 96px;
  }

  .u-section-1 .u-image-5 {
    margin-left: 5px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 783px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 70px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 229px;
  }

  .u-section-1 .u-image-3 {
    width: 340px;
    height: 384px;
    margin-top: -229px;
    margin-left: 0;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 634px;
    margin-top: 72px;
    margin-left: 0;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 323px;
    margin-top: -492px;
    margin-left: 0;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 395px;
  }
}